*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

} 
body{
    font-family: 'Raleway',sans-serif;
    overflow-x: hidden;

}
.grid-container{
    position: relative;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 80px 2fr;
    grid-template-areas: 
        "navbar navbar navbar"
        "sidebar dashboard dashboard";
    height: 100vh;
    width: 100vw;

}
.navbar{
    grid-area: navbar;
    width: 100%;
    background-color: #232a34;
    display: inline-block;
}
.navbar .banner{
    display: block;
    width: 290px;
    line-height: 40px;
    font-size: 1.3rem;
    color: white;
    list-style: none;
    margin: 0 auto;
}

.navbar .author{
    display: block;
    position: relative;
    list-style: none;
    color: white;
    font-size: 1.8rem;
    top: 5px;
    margin-right: 20px;
    float: right;
}

.sidebar{
    grid-area: sidebar;
    position: relative;
    height: 100%;
    display: block;
    background-color: #FBA827;
}
.sidebar .menu{
    display: block; 
    position: relative;
    top: 100px;
    margin: 0;
    padding: 0;
   
}
.sidebar .menu li{
    text-decoration: none;
    list-style: none;

}

.sidebar .menu li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.sidebar .menu li a:hover{
    background-color: #fdd79b;
    cursor: pointer;
}

.active{
    background-color: #fdd79b;
}
.sidebar .menu li a span{
    display: block;
    position: relative;
    left: 15px;
}

.dashboard{
    grid-area: dashboard;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}


/* Page1 */

.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);  
 
}
.modal .modal-content{
    margin: 180px auto;
    width: 150px;
    height: 100px;
    background-color: rgba(32, 88, 93, 1);
    color: white;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 4px 4px 12px rgba(76, 78, 78, 0.6);
}
.modal .modal-content .text{
    line-height: 50px;
    display: block;
}

.modal .modal-content .close{
    width: 80px;
    height: 35px;
    border: none;

}
.modal .modal-content .close:hover{
    cursor: pointer;
    background-color: white;

}
body{
    background-color: #F2EEDB;
}
.game-container{
    position: relative;
    padding-top: 60px;
    width: 100%;
    height: 560px;
}
#table{
    position: relative;
    margin: 0 auto;
    top: 10px;
    width: 250px;
    height: 250px;

}
#table tr .inactive{
 
    background-color: rgba(32, 88, 93, 0.8);
    text-align: center;
    cursor: pointer;
}

.active-red{
    background-color: #1A4858; 
    color: white;
    text-align: center;
}
.active-green{
    background-color: #900C3E;
    color: white;
    text-align: center;
}
.btn-container{
    position: relative;
    margin: 0 auto;
    width: 240px;
    box-shadow: 4px 4px 7px rgba(32, 88, 93, 0.308);
}
.btn-player{
    text-transform: uppercase;
    font-size: 1.1rem;
    background-color: #20585D;
    color: white;
    border: none;
    padding: 0;
    margin: 0;
    width: 120px;
    height: 70px;
  
}


.btn-player:hover{
    cursor: pointer;
}

.btn-active{
    background-color: rgba(32, 88, 93, 0.555);
}



/* github page */



.container .image{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: red;
}

.container ul{
    list-style: none;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.visible-data{
    display: none;
}
.facebook-login{
    border-radius: 20px;
    border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    cursor: pointer;
    display: block;
}

@media(max-width: 830px){
    /* .container{
        height: 1200px;
    } */
    .content-container{
        /* top: 80px; */
        position: relative;
        margin: 0 auto; 
        width: 350px;
        height: 445px;
        color: white;
    }
    
    .content-container .left-container{

        padding: 5px;
        width: 350px;
        height: 250px;
        background-color: #232a34;
    }
    .content-container .right-container{
        /* top: 20px; */
        position: relative;
        padding: 5px;
  
        width: 350px;
        height: 150px; 
    }

    .media-container{
        position: relative;
        margin: 0 auto;
        height: 450px;
        width: 350px;

    }
    
    .first{
        position: relative;
        margin: 10px auto;
        display: block;
        height: 120px;
        width: 250px;

    }
    .second{
        position: relative;
        margin: 10px auto;
        display: block;
        height: 120px;
        width: 250px;
        
    }
    .third{
        position: relative;
        margin: 10px auto;
        display: block;
        height: 120px;
        width: 250px;

    }
    .media-container .text{
        display: block;
        height: 80px;
    } 
    .contact-container{
        /* top: 120px; */
        margin: 0 auto;
        width: 350px;
    }
    
    .input-text{
        display: block;
        width: 75%;
        margin-bottom: 15px;
    }
    .btn-send{
        display: block;
        width: 160px;
        height: 40px;
        background-color: #FBA827;
        border: none;
        color: white;
        
    }
}
@media(max-width:410px){
    /* .hamburger_menu{
        position: absolute;
        top: 21px;
        right: 23px;
        cursor: pointer;
        display: block;
        z-index: 1;
    }
    .hamburger_menu::after{
        position: relative;
        content: "";
        display: inline-block;
        background-image: url('assets/hamburger_menu.svg');
        background-size: 28px 23px;
        width: 28px;
        height: 22px;
    } */
    .content-container{
        height: 600px;
        width: 100%;
    } 
    
    .content-container .left-container{
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 5px;
        width: 100%;
        height: 355px;

    }
    .content-container .right-container{
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 5px;
        width: 100%;
        height: 200px;
    }

    .media-container{
        position: relative;
        margin: 0 auto;
        width: 280px;
    }
    
    .media-container .text{
        display: block;
        height: 80px;
    } 
    .contact-container{
        position: relative;
        margin: 10px auto;
        /* top: 120px; */
        width: 280px;
    }
    .contact-container .yyy{
        position: relative;
        margin: 10px auto;
        left: 20px;
    }
    
    .input-text{
        display: block;
        width: 75%;
        margin-bottom: 15px;
    }
    .btn-send{
        display: block;
        width: 160px;
        height: 40px;
        background-color: #FBA827;
        border: none;
        color: white;
        
    }
}

@media(min-width:532px){
    .grid-container{
        display: grid;
        grid-template-columns: 170px 1fr;
        grid-template-rows: 80px 1fr;
        grid-template-areas: 
            "navbar navbar navbar"
            "sidebar dashboard dashboard";
        width: 100vw;
        height: 100vh;
    }
}

@media(max-width:532px){

    .grid-container{
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 80px 1fr;
        grid-template-areas: 
            "navbar navbar navbar"
            "sidebar dashboard dashboard";
        width: 100vw;
        height: 100vh;
    }
    .sidebar{
        cursor: pointer;
        width: 50px;
    }
    .sidebar .menu{
        display: none; 
        width: 300px;
        top: 0px;
        background-color: #FBA827;
        height: 100%;
        z-index: 1;
    }
    .sidebar .menu li {
        position: relative;
        top: 100px;
    }

    /* .sidebar .hamburger_menu{
        display: block;
    } */

    .hamburger_menu{
        position: absolute;
        top: 21px;
        right: 12px;
        cursor: pointer;
        display: block;
        z-index: 1;
    }
    .hamburger_menu::after{
        position: relative;
        content: "";
        display: inline-block;
        background-image: url('assets/hamburger_menu.svg');
        background-size: 28px 23px;
        width: 28px;
        height: 22px;
    }
}
