*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

} 
body{
    font-family: 'Raleway',sans-serif;
    overflow-x: hidden;

}
.grid-container{
    position: relative;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 80px 2fr;
    grid-template-areas: 
        "navbar navbar navbar"
        "sidebar dashboard dashboard";
    height: 100vh;
    width: 100vw;

}
.navbar{
    grid-area: navbar;
    width: 100%;
    background-color: #232a34;
    display: inline-block;
}
.navbar .banner{
    display: block;
    width: 290px;
    line-height: 40px;
    font-size: 1.3rem;
    color: white;
    list-style: none;
    margin: 0 auto;
}

.navbar .author{
    display: block;
    position: relative;
    list-style: none;
    color: white;
    font-size: 1.8rem;
    top: 5px;
    margin-right: 20px;
    float: right;
}

.sidebar{
    grid-area: sidebar;
    position: relative;
    height: 100%;
    display: block;
    background-color: #FBA827;
}
.sidebar .menu{
    display: block; 
    position: relative;
    top: 100px;
    margin: 0;
    padding: 0;
   
}
.sidebar .menu li{
    text-decoration: none;
    list-style: none;

}

.sidebar .menu li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.sidebar .menu li a:hover{
    background-color: #fdd79b;
    cursor: pointer;
}

.active{
    background-color: #fdd79b;
}
.sidebar .menu li a span{
    display: block;
    position: relative;
    left: 15px;
}

.dashboard{
    grid-area: dashboard;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    height: 80vh;

}


/* github page */

.container{
    display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 50px;
	height: 60%;
    text-align: center;
    margin: 120px 0 50px; 
}
.container .visible-data{
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.container .image{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: red;
}

.container ul{
    list-style: none;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.facebook-login{
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    cursor: pointer;
    display: block;
}


@media(max-width:410px){

 
}

@media(min-width:532px){
    .grid-container{
        display: grid;
        grid-template-columns: 170px 1fr;
        grid-template-rows: 80px 1fr;
        grid-template-areas: 
            "navbar navbar navbar"
            "sidebar dashboard dashboard";
        width: 100vw;
        height: 100vh;
    }
}

@media(max-width:532px){

    .grid-container{
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 80px 1fr;
        grid-template-areas: 
            "navbar navbar navbar"
            "sidebar dashboard dashboard";
        width: 100vw;
        height: 100vh;
    }
    .sidebar{
        cursor: pointer;
        width: 50px;
    }
    .sidebar .menu{
        display: none; 
        width: 300px;
        top: 0px;
        background-color: #FBA827;
        height: 100%;
        z-index: 1;
    }
    .sidebar .menu li {
        position: relative;
        top: 100px;
    }

    /* .sidebar .hamburger_menu{
        display: block;
    } */

    .hamburger_menu{
        position: absolute;
        top: 21px;
        right: 12px;
        cursor: pointer;
        display: block;
        z-index: 1;
    }
    .hamburger_menu::after{
        position: relative;
        content: "";
        display: inline-block;
        background-image: url('assets/hamburger_menu.svg');
        background-size: 28px 23px;
        width: 28px;
        height: 22px;
    }
}
